files/uploadImages/*
!files/uploadImages/.gitkeep
files/uploadVideos/*
!files/uploadVideos/.gitkeep
files/doneVideos/*
!files/doneVideos/.gitkeep
files/captchas/*
plog.log
files/temp*/*
!files/temp*/.gitkeep